__pycache__/
*.py[cod]
*.egg-info/
*.egg
.python-version

.venv/
venv/
env/

.aws/
credentials
*.pem

.coverage
.pytest_cache/

.vscode/
.idea/

.DS_Store

output/
input/
.qodo

.env

aws_scanner_cli.py
vscode-extension/bin/
dist/
build/
*.spec
