# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.python-version
venv/

# Testing
.coverage
.pytest_cache/

# Build
dist/
build/
*.spec

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Project specific
output/
vscode-extension/bin/

# Environment
.env
